.audio-player{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100px;

    background: #1b1b1b;

    border-top: 2px solid #8A2BE2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    box-sizing: border-box;

    box-shadow: 0 -5px 20px rgba(138,43,226,.35);

    z-index: 1000;
}

.song-info{
    width:250px;
}

.song-info h3{
    color:#b57cff;
    margin:0;
    font-size:28px;
}

.song-info p{
    color:white;
    margin-top:8px;
    font-size:18px;
}

.audio-controls{
    flex:1;
    display:flex;
    justify-content:flex-end;
}

.audio-controls audio{
    width:550px;
}