.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    padding: 20px;
    background-color: #111;
}

.logo {
    color: #b57cff;
    font-size: 2rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: #b57cff;
}

.logout-btn{
    background:#8A2BE2;
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    transition:.3s;
}

.logout-btn:hover{
    background:#9d4edd;
}