.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    padding: 20px;
    background-color: #111;
}

.logo {
    color: #b57cff;
    font-size: 2rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: #b57cff;
}