.navbar{
    background-color: #121212;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;

    border-bottom: 1px solid #8B5CF6;

    position: sticky;
    top: 0;
}

.logo{
    color: #C084FC;

    font-size: 32px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    gap: 40px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;

    transition: 0.3s;
}

.nav-links a:hover{
    color: #C084FC;
}