.song-card{
    background-color: #1A1A1A;

    width: 250px;

    padding: 20px;

    border-radius: 15px;

    border: 1px solid #8B5CF6;

    transition: all 0.3s ease;
}

.song-card:hover{
    transform: translateY(-5px);

    box-shadow: 0 0 20px rgba(139,92,246,0.5);
}

.song-card h3{
    color: #C084FC;
    margin-bottom: 10px;
}

.song-card p{
    color: #D1D5DB;
    margin-top: 8px;
}